body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

#poster {
  display: flex;
  justify-content: center;

  margin: 0;
  height: 95%;
  width: 95%;
  position: absolute;
  left: 2.5%;
  top: 2.5%;
  border: #1d1e22 solid 2px;
  background: #1d1e22;
}

#poster img {
  display: flex;
  height: 100%;
  width: auto;
}
.black {
  display: flex;
  width: 100%;
  background-color: #333;
  min-height: 50px;
  align-items: flex-end;
  border-bottom: solid 1px rgb(255, 255, 255);
}

.nav-a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 15px;
  border-radius: 5px;
  font-size: 1.75rem;
}

.jedi-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.nav-img {
  width: 125px;
  padding: 20px;
}

.jedi-profiles {
  height: 100vh;

  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}

.jedi-profiles h3 {
  padding-top: 25px;
  color: white;
  font-size: 25px;
}

.jedi-pic {
  max-width: 15vw;
  max-height: 15vw;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: solid rgb(211, 226, 36) 1px;
}

.stars {
  background-image: url('https://cdn.wallpapersafari.com/33/42/Avc0xl.png');
}

.trial {
  color: white;
}
